{% extends "base.html" %}

{% block title %}{{ contact_title }}{% endblock %}

{% block content %}
    <section id="contact" class="mb-16">
        <h3 class="text-3xl font-bold text-center mb-8">{{ contact_title }}</h3>
        <form class="bg-white p-6 rounded-lg shadow max-w-lg mx-auto dark:bg-gray-800 dark:text-gray-200"
            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeQcfa1i30VsWl7chQeQg3gOfvg0rfkfC0LxOCY2nmiFI_ZQg/formResponse"
            method="POST">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-bold mb-2 dark:text-gray-200">{{ name }}</label>
                <input type="text" id="name" name="entry.1727148364"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
                    required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold mb-2 dark:text-gray-200">{{ email }}</label>
                <input type="email" id="email" name="entry.1630821352"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
                    required>
            </div>
            <div class="mb-4">
                <label for="message" class="block text-gray-700 font-bold mb-2 dark:text-gray-200">{{ message }}</label>
                <textarea id="message" name="entry.824025672"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
                    rows="4" required></textarea>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded-full shadow hover:bg-blue-600">{{
                send }}</button>
        </form>
    </section>
{% endblock %}