<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hol0 is An Interconnected Extensible Microblogging Platform🪐" />
        <title>Hol0</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.8.0/dist/tabler-icons.min.css">
        <meta property="og:url" content="https://join.hol0.dev" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Hol0" />
        <meta property="og:description" content="An Interconnected Extensible Microblogging Platform🪐" />
        <meta property="og:site_name" content="JoinHol0" />
        <style>
            .bg-gradient {
                background: linear-gradient(to bottom right, #9cf5d4, #ffff);
            }
        </style>
    </head>
    <body class="bg-gray-50 text-gray-900">
        <div class="bg-gradient">
            {% if announce %}
            <div class="bg-yellow-500 text-white py-2 text-center font-bold">
                {{ announce["text"] }}
                {% if announce["url"] %}
                    <a href="{{ announce["url"] }}" class="text-blue-500">{{ Learn_More }}</a>
                {% endif %}
            {% endif %}
            </div>
            <header class="bg-transparent shadow">
                <div class="container mx-auto px-4 py-6 flex justify-between items-center">
                    <a href="{{ '/' if lang == 'en' else " /" + lang }}"><h1 class="text-3xl font-bold text-black">Hol0</h1></a>
                    <nav>
                        <ul class="flex space-x-4">
                            <li><a href="{{ '/' if lang == 'en' else " /" + lang }}" class="text-black hover:text-gray-700">Home</a></li>
                            <li><a href="{{ '/#features' if lang == 'en' else " /" + lang + "#features" }}" class="text-black hover:text-gray-700">Features</a></li>
                            <li><a href="https://github.com/Hol0-dev/join-holo" class="text-black hover:text-gray-700" target="_blank" rel="noopener"><i class="ti ti-brand-git"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="container mx-auto px-4 py-16 text-center">
                <section>
                    <h2 class="text-4xl font-bold mb-4 text-black">An Interconnected Extensible Microblogging Platform🪐</h2>
                    <p class="text-lg text-gray-800 mb-8">{{ Hol0_is_a_extensible_and_fast_distributed_social_networking_platform }}</p>
                    <a href="#getting-started" class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600">{{ Getting_Started }}</a>
                    <a href="https://docs.hol0.dev"
                        class="bg-green-500 text-white px-6 py-3 rounded-full hover:bg-green-600">{{ Documentation }}</a>
                </section>
            </main>
        </div>
        <section class="container mx-auto px-4 py-16" id="features">
            <h3 class="text-2xl font-bold mb-4">{{ Features }}</h3>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-brand-speedtest text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Faster }}</h4>
                    <p class="text-gray-600">{{ Hol0_is_written_using_FastAPI_a_fast_Python_framework_so_it_is_relatively_fast }}</p>
                </div>
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-puzzle text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Extensible }}</h4>
                    <p class="text-gray-600">{{ Hol0_allows_you_to_create_use_your_own_extensions_and_extend_APIs_etc }}</p>
                </div>
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-shield text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Controllable }}</h4>
                    <p class="text-gray-600">{{ Hol0_allows_users_to_build_their_own_servers_This_allows_users_to_have_complete_control_over_their_data_and_content_In_particular_it_allows_users_to_protect_their_privacy_by_severing_ties_with_large_companies_that_seek_to_use_their_data_to_learn_and_sell_AI }}</p>
                </div>
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-network text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Federated }}</h4>
                    <p class="text-gray-600">{{ Hol0_can_communicate_with_software_using_ActivityPub_such_as_Misskey_and_Mastodon }}</p>
                </div>
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-heart text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Misskey_Compatibility }}</h4>
                    <p class="text-gray-600">{{ Hol0_is_primarily_focused_on_compatibility_with_Misskey_so_it_supports_displaying_reactions_from_software_such_as_Misskey }}</p>
                </div>
                <div class="bg-white p-6 shadow rounded-lg">
                    <i class="ti ti-code text-blue-500 text-4xl mb-4"></i>
                    <h4 class="text-xl font-bold mb-2">{{ Open_Source }}</h4>
                    <p class="text-gray-600">{{ Hol0_is_open_source_and_can_be_freely_used_and_modified_by_anyone_under_AGPLv3 }}</p>
                </div>
            </div>
        </section>
        <section id="getting-started" class="mx-auto px-4 sm:px-6 lg:px-8">
    <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-center mb-8">{{ Start_using_Hol0 }}</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white p-4 sm:p-6 rounded-lg shadow text-center">
            <i class="ti ti-user text-blue-500 text-3xl sm:text-4xl mb-4"></i>
            <h4 class="text-lg sm:text-xl font-bold mb-2">{{ For_Users }}</h4>
            <p class="text-gray-600">{{ Join_the_Hol0_public_server }}</p>
            <br>
            <a class="bg-gray-500 text-white px-4 sm:px-6 py-2 sm:py-3 rounded-full shadow hover:bg-blue-600" tabindex="-1">{{ Comming_Soon }}</a> <!-- bg-blue-500 href="https://join.hol0.dev/servers" Learn More -->
        </div>
        <div class="bg-white p-4 sm:p-6 rounded-lg shadow text-center">
            <i class="ti ti-settings text-green-500 text-3xl sm:text-4xl mb-4"></i>
            <h4 class="text-lg sm:text-xl font-bold mb-2">{{ For_Admins }}</h4>
            <p class="text-gray-600">{{ Check_out_our_guide_on_how_to_build_a_Hol0_server }}</p>
            <br>
            <a href="https://docs.hol0.dev/for-admin/getting-started" class="bg-green-500 text-white px-4 sm:px-6 py-2 sm:py-3 rounded-full shadow hover:bg-green-600">{{ Learn_More }}</a>
        </div>
    </div>
        </section>
        <div class="bg-gradient">
            <footer class="bg-transparent shadow mt-16">
                <div class="container mx-auto px-4 py-6 text-center">
                    <p class="text-black">&copy; 2024 AmaseCocoa and Hol0 Team.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
