{% extends 'base.html' %}

{% block title %}{{ pageTitle_home }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
<section class="hero-section mb-16">
    <div class="hero-content border-gray-200 dark:border-gray-600">
        <h2 class="text-4xl font-bold mb-4">{{ hero_title }}</h2>
        <p class="text-lg text-gray-600 mb-6 dark:text-gray-300">{{ hero_subtitle }}</p>
        <a href="#getting-started" class="bg-blue-500 text-white px-6 py-3 rounded-full shadow hover:bg-blue-600">{{
            start }}</a>
    </div>
    <div class="hero-image">
        <img src="/static/assets/hero-image.png" alt="Hero Image" loading="lazy">
    </div>
</section>
<section id="features" class="mb-16">
    <h3 class="text-3xl font-bold text-center mb-8">{{ features_title }}</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-brand-speedtest text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_fast }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_fast_desc }}</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-puzzle text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_plugin }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_plugin_desc }}</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-device-desktop text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_frontend }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_frontend_desc }}</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-network text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_fedrated }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_fedrated_desc }}</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-heart text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_misskey_compatibility }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_misskey_compatibility_desc }}</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-code text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ feature_oss }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ feature_oss_desc }}</p>
        </div>
    </div>
</section>
<section id="getting-started" class="mb-16">
    <h3 class="text-3xl font-bold text-center mb-8">{{ get_started_section_title }}</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-user text-blue-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ user_guide }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ user_guide_desc }}</p>
            <br>
            <a href="https://join.hol0.dev/servers"
                class="bg-blue-500 text-white px-6 py-3 rounded-full shadow hover:bg-blue-600">{{ learn_more }}</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-settings text-green-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ admin_guide }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ admin_guide_desc }}</p>
            <br>
            <a href="https://docs.hol0.dev/for-admin/getting-started"
                class="bg-green-500 text-white px-6 py-3 rounded-full shadow hover:bg-green-600">{{ learn_more }}</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow text-center dark:bg-gray-800 dark:text-gray-200">
            <i class="ti ti-question-mark text-green-500 text-4xl mb-4"></i>
            <h4 class="text-xl font-bold mb-2">{{ faq }}</h4>
            <p class="text-gray-600 dark:text-gray-200">{{ faq_desc }}</p>
            <br>
            <a href="{{ '/faq' if lang == 'en' else " /" + lang + "/faq" }}"
                class="bg-green-500 text-white px-6 py-3 rounded-full shadow hover:bg-green-600">{{ learn_more }}</a>
        </div>
    </div>
</section>



{% endblock %}